Package: com.lengleng.liquidnotice
Name: LengLeng Liquid Notice
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Liquid Glass style message notification for WeChat
Maintainer: LengLeng
Author: LengLeng
Section: Tweaks
Depends: firmware (>= 15.0)
